// Colors
$main-font-color: #ffffff;
$second-font-color: #ffe083;
$third-font-color: #828e93;
$background-color: #051d27;

// Gutters
$gutter: 30px;
$gutterM: 20px;
$gutterS: 10px;

// Sizes
$mobile: 425px;
$tablet: 768px;
$desktop: 1160px;
$desktopL: 1280px;
$desktopXL: 1440px;