@import "../global/variables";

section:not(#hero) {
    display: flex;
    justify-content: center;
    margin-bottom: 200px;
    position: relative;
    z-index: 100;

    .container {
        display: grid;
        grid-auto-columns: 1fr;
        grid-column-gap: 81px;
        grid-row-gap: 16px;

        .section-content {
            font-size: 18px;
            position: relative;
            align-self: center;

            .count {
                position: absolute;
                top: 0;
                left: 0;
                transform: translate(-50%, -50%);
                font-size: 200px;
                font-weight: 900;
                opacity: 0.1;
                z-index: -1;
            }

            &>* {
                margin-bottom: 27px;

                &:last-child {
                    margin-bottom: 0;
                }
            }

            .title {
                font-size: 64px;
            }

            .content {
                line-height: 32px;
            }

            .more-btn {
                width: fit-content;
                display: flex;
                color: $second-font-color;
                cursor: pointer;
                transition: all 200ms ease;

                p {
                    margin-right: 16px;
                }

                &:hover {
                    transform: translateX(5px);
                }
            }
        }

        .section-img {
            grid-column-end: 3;
            grid-column-start: 2;
            grid-row-end: 2;
            grid-row-start: 1;
            justify-self: end;
            width: 566px;
        }
    }

    &.reverse {
        .container {
            .section-content {
                grid-column-end: 3;
                grid-column-start: 2;
                grid-row-end: 2;
                grid-row-start: 1;
                justify-self: end;
            }
        }

        .section-img {
            grid-column-end: 2;
            grid-column-start: 1;
            grid-row-end: 2;
            grid-row-start: 1;
            justify-self: start;
            transform: translateX(-81px);
        }
    }
}