@import "../global/mixins";
@import "../global/variables";

.slider {
    position: fixed;
    top: 50%;
    right: 80px;
    opacity: 0;
    transform: translate(50px, -100%);
    z-index: 999;
    transition: all 1s ease;

    nav {
        ul {
            @include li-reset;

            text-align: right;

            li {
                display: flex;
                justify-content: end;
                align-items: center;
                padding-right: 32px;
                height: 60px;
                border-right: 3px solid rgba($main-font-color, 0.5);
                cursor: pointer;
                font-size: 18px;
                font-weight: bold;
                transition: all 200ms ease;

                &.active {
                    border-color: $main-font-color;
                }

                &:hover {
                    color: $second-font-color;
                    border-color: $second-font-color;
                    padding-right: 35px;
                }
            }
        }
    }

    &.visible {
        opacity: 1;
        transform: translate(0, -100%);
    }
}